name: Tests
on: [push, pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        numpy-version: ['1.26', '2.3', 'dev']
        exclude:
          - python-version: '3.10'
            numpy-version: '2.3'
          - python-version: '3.10'
            numpy-version: 'dev'            
          - python-version: '3.13'
            numpy-version: '1.26'
          - python-version: '3.14'
            numpy-version: '1.26'
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          if [[ "${{ matrix.numpy-version }}" == "dev" ]]; then
            python -m pip install --pre --extra-index https://pypi.anaconda.org/scientific-python-nightly-wheels/simple numpy;
          else
            python -m pip install 'numpy>=1.26,<2.0';
          fi
          python -m pip install -r requirements-dev.txt
      - name: Run Tests
        run: |
          pytest

          # Make sure it installs
          pip install .
